# R 3.0 compatibility:

exportPattern("^[^\\.]")

importFrom("utils", "install.packages", "installed.packages")

importFrom("remotes", "install_github")

importFrom("graphics", "contour")
importFrom("stats", "approx", "na.omit", "quantile", "sd")